[submodule "plugins/Calendar"]
	path = plugins/Calendar
	url = git://github.com/kanboard/plugin-calendar
[submodule "plugins/Bigboard"]
	path = plugins/Bigboard
	url = git://github.com/stinnux/kanboard-bigboard
[submodule "plugins/DatabaseStorage"]
	path = plugins/DatabaseStorage
	url = git://github.com/kanboard/plugin-database-storage
[submodule "plugins/DueDate"]
	path = plugins/DueDate
	url = git://github.com/dmorlitz/kanboard-duedate
[submodule "plugins/EncryptedContent"]
	path = plugins/EncryptedContent
	url = git://github.com/kenlog/EncryptedContent
[submodule "plugins/Gantt"]
	path = plugins/Gantt
	url = git://github.com/kanboard/plugin-gantt
[submodule "plugins/GoogleAuth"]
	path = plugins/GoogleAuth
	url = git://github.com/kanboard/plugin-google-auth
[submodule "plugins/KanboardCSS"]
	path = plugins/KanboardCSS
	url = git://github.com/aljawaid/KanboardCSS
[submodule "plugins/MarkdownPlus"]
	path = plugins/MarkdownPlus
	url = git://github.com/creecros/MarkdownPlus
[submodule "plugins/Milestone"]
	path = plugins/Milestone
	url = git://github.com/oliviermaridat/kanboard-milestone-plugin
